proxy:
  http:
    # HTTP 代理的主机地址
    host: "127.0.0.1"
    # HTTP 代理端口号
    port: 8010
    
telegram:
  bot:
    # 电报机器人的访问令牌，请向 BotFather 申请
    token: "XXX"
    # 电报机器人的唯一用户名，请向 BotFather 申请
    username: "XXX"
    # 电报机器人的创建者ID
    creatorId: 0

dingding:
  # 钉钉群聊机器人的密钥
  secret: "XXX"

eudb:
  # 欧陆词典的授权信息
  accessToken: "XXX"
  # 生效的生词本，默认使用默认生词本(dictionaryId为0)
  dictionaryId: "XXX"

